- const { effect,source,sub,typed_option,api } = theme.subtitle
- let subContent = sub || new Array()
- const subtitleApi = api || {}

script.
  window.typedJSFn = {
    init: str => {
      window.typed = new Typed('#subtitle', Object.assign({
        strings: str,
        startDelay: 300,
        typeSpeed: 150,
        loop: true,
        backSpeed: 50,
      }, !{JSON.stringify(typed_option)}))
    },
    run: subtitleType => {
      if (!{effect}) {
        if (typeof Typed === 'function') {
          subtitleType()
        } else {
          btf.getScript('!{url_for(theme.asset.typed)}').then(subtitleType)
        }
      } else {
        subtitleType()
      }
    }
  }
  btf.addGlobalFn('pjaxSendOnce', () => { typed.destroy() }, 'typedDestroy')

case source
  when 1
    script.
      function subtitleType () {
        const apiUrl = !{JSON.stringify(subtitleApi.renjian || '')}
        if (!apiUrl) {
          const sub = !{JSON.stringify(subContent.length ? subContent : new Array(config.subtitle))}
          if (!{effect}) typedJSFn.init(sub)
          else document.getElementById("subtitle").textContent = sub[0]
          return
        }
        fetch(apiUrl)
          .then(response => response.json())
          .then(data => {
            if (!{effect}) {
              const sub = !{JSON.stringify(subContent)}
              const content = data.data.replace("选自散文集《我在人间凑数的日子》", "").replace("—", "").replace(" ", "")
              sub.unshift(content)
              typedJSFn.init(sub)
            } else {
              document.getElementById('subtitle').textContent = data.data
            }
          })
          .catch(error => {
            console.error('请求失败', error)
          })
      }
      typedJSFn.run(subtitleType)

  when 2
    script.
      function subtitleType () {
        const apiUrl = !{JSON.stringify(subtitleApi.hitokoto || '')}
        if (!apiUrl) {
          const sub = !{JSON.stringify(subContent.length ? subContent : new Array(config.subtitle))}
          if (!{effect}) typedJSFn.init(sub)
          else document.getElementById("subtitle").textContent = sub[0]
          return
        }
        fetch(apiUrl)
          .then(response => response.json())
          .then(data => {
            if (!{effect}) {
              const sub = !{JSON.stringify(subContent)}
              const content = data.data.split("。")[0] + "。"
              sub.unshift(content)
              typedJSFn.init(sub)
            } else {
              document.getElementById('subtitle').textContent = data.data
            }
          })
          .catch(error => {
            console.error('请求失败', error)
          })
      }
      typedJSFn.run(subtitleType)

  when 3
    script.
      function subtitleType () {
        const apiUrl = !{JSON.stringify(subtitleApi.poetry || '')}
        if (!apiUrl) {
          const sub = !{JSON.stringify(subContent.length ? subContent : new Array(config.subtitle))}
          if (!{effect}) typedJSFn.init(sub)
          else document.getElementById("subtitle").textContent = sub[0]
          return
        }
        fetch(apiUrl)
          .then(response => response.json())
          .then(data => {
            if (!{effect}) {
              const sub = !{JSON.stringify(subContent)}
              const content = data.data.split("。")[0] + "。"
              sub.unshift(content)
              typedJSFn.init(sub)
            } else {
              document.getElementById('subtitle').textContent = data.data
            }
          })
          .catch(error => {
            console.error('请求失败', error)
          })
      }
      typedJSFn.run(subtitleType)

  default
    - subContent = subContent.length ? subContent : new Array(config.subtitle)
    script.
      function subtitleType () {
        if (!{effect}) {
          typedJSFn.init(!{JSON.stringify(subContent)})
        } else {
          document.getElementById("subtitle").textContent = !{JSON.stringify(subContent[0])}
        }
      }
      typedJSFn.run(subtitleType)
