- const moreAppMenu = Array.isArray(theme.nav && theme.nav.menu) ? theme.nav.menu : []
if moreAppMenu.length
    .more-app-btn
        i.fa-solid.fa-fingerprint.fa-fw
        .more-app-list-groups
            .more-app-list-groups-container
                each group in moreAppMenu
                    .more-app-list-group
                        .more-app-list-title= group.title
                        .more-app-list
                            each item in (Array.isArray(group.item) ? group.item : [])
                                a.more-app-list-item(href=url_for(item.link || '/') title=item.title || item.name rel="nofollow noopener" target="_blank")
                                    if item.icon && (item.icon.startsWith('http') || item.icon.startsWith('/'))
                                        img.more-app-item-icon(src=item.icon alt=item.name)
                                    else
                                        i.more-app-item-icon(class=item.icon || 'fa-solid fa-link')
                                    span.more-app-item-text= item.name
