nav#nav
  != partial('includes/header/more_app', {}, {cache: true})
  span#blog-info
    a.nav-site-title(href=url_for('/') title=config.title)
      if theme.nav.logo
        img.site-icon(src=url_for(theme.nav.logo) alt='Logo')
      if theme.nav.display_title
        span.site-name= theme.nav.site_name || config.title
    //- if is_post() // 新版将头像改了，我感觉不好看，所以注释掉了
    //-   a.nav-page-title(href=url_for('/'))
    //-     span.site-name=(page.title || config.title)

  #menus
  if theme.menu
    != partial('includes/header/menu_item', {}, {cache: true})
    center(id="name-container")
      a(id="page-name" href="javascript:btf.scrollToDest(0, 500)") PAGE_NAME
    
  #nav-right
    if theme.nav.right_items
      each item in theme.nav.right_items
        div(id=item.id)
          a(class=item.class || 'site-page', href=item.raw_link ? item.link : url_for(item.link), title=item.title)
            i(class=item.icon)
    if theme.search.use
      #search-button
        span.site-page.social-icon.search
          i.fas.fa-search.fa-fw

      #toggle-menu
        span.site-page(href="javascript:void(0);" title="展开菜单")
          i.fas.fa-indent.fa-fw


