nav#nav
  span#blog-info
    a.nav-site-title(href=url_for('/') title=config.title)
      if theme.nav.logo
        img.site-icon(src=url_for(theme.nav.logo) alt='Logo')
      if theme.nav.display_title
        span.site-name=config.title
    //- if is_post() // 新版将头像改了，我感觉不好看，所以注释掉了
    //-   a.nav-page-title(href=url_for('/'))
    //-     span.site-name=(page.title || config.title)

  #menus
  if theme.menu
    != partial('includes/header/menu_item', {}, {cache: true})
    center(id="name-container")
      a(id="page-name" href="javascript:btf.scrollToDest(0, 500)") PAGE_NAME
    
  #nav-right
    #travellings
      a.site-page(href=url_for('https://www.travellings.cn/go.html') title="友链接力-随机开往")
        i.fa-solid.fa-bus.fa-fw
    #ten-years
      a.site-page(href=url_for('https://foreverblog.cn/go.html') title="友链接力-十年之约")
        i.fa-brands.fa-nfc-symbol.fa-fw
    #random
      a.site-page(href=url_for('javascript:randomPost()') title="随机前往一个文章")
        i.fa-solid.fa-shuffle.fa-fw
    if theme.search.use
      #search-button
        span.site-page.social-icon.search
          i.fas.fa-search.fa-fw

      #toggle-menu
        span.site-page(href="javascript:void(0);" title="展开菜单")
          i.fas.fa-bars.fa-fw


