- const footerBetter = theme.footer_better || {}
- const footerIcons = footerBetter.footer_icons || {}
- const footerIconLeft = Array.isArray(footerIcons.left) ? footerIcons.left : []
- const footerIconRight = Array.isArray(footerIcons.right) ? footerIcons.right : []
- const footerGroup = footerBetter.footer_group || {}
- const footerGroupLinks = Array.isArray(footerGroup.footer_group_link) ? footerGroup.footer_group_link : []
- const footerFriendLinks = footerGroup.footer_friend_links || {}
- const footerBottom = footerBetter.footer_bottom || {}
- const footerCopyright = footerBottom.copyright || {}
- const footerBottomLeft = Array.isArray(footerBottom.left) ? footerBottom.left : []
- const footerBottomRight = Array.isArray(footerBottom.right) ? footerBottom.right : []
- const footerRuntime = footerBottom.runtime || {}

#footer-wrap(style='background: transparent')
  if footerIcons.enable
    #footer_icons
      if footerIconLeft.length
        div
          each i in footerIconLeft
            if i.class == "in"
              if theme.pjax.enable
                a.icon_link(href=`${i.link}`, title=`${i.desrc}`,data-pjax-state)
                  i(class=`${i.icon}`)
              else
                a.icon_link(href=`${i.link}`, title=`${i.desrc}`)
                  i(class=`${i.icon}`)
            else if i.class == "out"
              a.icon_link(rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`, target='_blank')
                i(class=`${i.icon}`)
            else
              a.icon_link(href=`${i.link}`, title=`${i.desrc}`)
                i(class=`${i.icon}`)
      if footerIcons.footer_logo && footerIcons.footer_logo.enable && footerIcons.footer_logo.url
        .footer_logo_container(onclick='btf.scrollToDest(0,500)', title='返回顶部')
          img.footer_logo(src=`${footerIcons.footer_logo.url}`)
      if footerIconRight.length
        div
          each i in footerIconRight
            if i.class == "in"
              if theme.pjax.enable
                a.icon_link(href=`${i.link}`, title=`${i.desrc}`,data-pjax-state)
                  i(class=`${i.icon}`)
              else
                a.icon_link(href=`${i.link}`, title=`${i.desrc}`)
                  i(class=`${i.icon}`)
            else if i.class == "out"
              a.icon_link(rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`, target='_blank')
                i(class=`${i.icon}`)
            else
              a.icon_link(href=`${i.link}`, title=`${i.desrc}`)
                i(class=`${i.icon}`)
  if footerGroup.enable && (footerGroupLinks.length || footerFriendLinks.enable)
    #footer_content
      each item in footerGroupLinks
        - const links = Array.isArray(item.footer_links) ? item.footer_links : []
        if links.length
          .footer-group
            h3.footer-title=item.group_title
            .footer-links
              each i in links
                if i.class == "in"
                  if pjaxenable
                    a.footer-item(href=`${i.link}`, data-pjax-state)=i.text
                  else 
                    a.footer-item(href=`${i.link}`)=i.text
                else if i.class == "out"
                  a.footer-item(target='_blank', href=`${i.link}`)=i.text
                else 
                  a.footer-item(href=`${i.link}`)=i.text
      if footerFriendLinks.enable
        .footer-group#friend-links-in-footer
          h3.footer-title
            | 友链
            button(title='换一批', href='javascript:;', onclick='liushen.randomLink()')
              i.fa-solid.fa-rotate-right
          .footer-links
            -
              const friendGroups = site.data.link || []
              const footerFriends = friendGroups.reduce((result, group) => result.concat(group.link_list || []), [])
              const friendNumber = footerFriendLinks.number || 5
            if footerFriends.length
              - for (var i = 0; i < Math.min(friendNumber, footerFriends.length); i++)
                a.footer-item(target='_blank', rel='noopener external nofollow', href=footerFriends[i].link)= footerFriends[i].name
            a.footer-item(href='/link/', data-pjax-state) 查看更多

  #footer-bottom
    .footer-bottom-content
      .footer-bottom-left
        if footerCopyright.enable 
          - var now = new Date()
          - var nowYear = now.getFullYear()
          - var since = footerCopyright.since
          - var link = footerCopyright.link
          - var author = footerCopyright.author
          if since && since != nowYear
            span.copyright
              i.fa-regular.fa-copyright(style='margin-right:5px')
              | #{since} - #{nowYear} 
              if link
                a(target='_blank', rel='noopener', href=`${link}`, title=`点击访问"${author}"的主页`, style='margin-left:5px')=author
              else
                span(style='margin-left:5px')=author
          else
            span.copyright
              i.fa-regular.fa-copyright(style='margin-right:5px')
              | #{nowYear}
              if link
                a(target='_blank', rel='noopener', href=`${link}`, title=`点击访问"${author}"的主页`, style='margin-left:5px')=author
              else
                span(style='margin-left:5px')=author
        div
          if footerBottomLeft.length
            each i in footerBottomLeft
              if i.link
                a.footer-bottom-link(target='_blank', href=`${i.link}`, rel='noopener external nofollow', title=`${i.desrc}`)=i.text
      .footer-bottom-right 
        if footerRuntime.enable 
          #runtime(title='本站运行时间') 本站已苟活：0 天 0 时 0 分 0 秒
        div 
          if footerBottomRight.length
            each i in footerBottomRight
              if i.link
                a.footer-bottom-link(target='_blank', href=`${i.link}`, rel='noopener external nofollow', title=`${i.desrc}`)=i.text

include ./randomlink.pug
