#footer-wrap(style='background: transparent')
  if theme.footer_better.footer_icons.enable
    #footer_icons
      div
        each i in theme.footer_better.footer_icons.left
          if i.class == "in"
            if theme.pjax.enable
              a.icon_link(href=`${i.link}`, title=`${i.desrc}`,data-pjax-state)
                i(class=`${i.icon}`)
            else
              a.icon_link(href=`${i.link}`, title=`${i.desrc}`)
                i(class=`${i.icon}`)
          else if i.class == "out"
            a.icon_link(rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`, target='_blank')
              i(class=`${i.icon}`)
          else
            a.icon_link(href=`${i.link}`, title=`${i.desrc}`)
              i(class=`${i.icon}`)
      if theme.footer_better.footer_icons.footer_logo.enable
        .footer_logo_container(onclick='btf.scrollToDest(0,500)', title='返回顶部')
          img.footer_logo(src=`${theme.footer_better.footer_icons.footer_logo.url}`)
      div
        each i in theme.footer_better.footer_icons.right
          if i.class == "in"
            if theme.pjax.enable
              a.icon_link(href=`${i.link}`, title=`${i.desrc}`,data-pjax-state)
                i(class=`${i.icon}`)
            else
              a.icon_link(href=`${i.link}`, title=`${i.desrc}`)
                i(class=`${i.icon}`)
          else if i.class == "out"
            a.icon_link(rel='noopener external nofollow', href=`${i.link}`, title=`${i.desrc}`, target='_blank')
              i(class=`${i.icon}`)
          else
            a.icon_link(href=`${i.link}`, title=`${i.desrc}`)
              i(class=`${i.icon}`)
  if theme.footer_better.footer_group.enable
    #footer_content
      each item in theme.footer_better.footer_group.footer_group_link
        .footer-group
          h3.footer-title=item.group_title
          .footer-links
            each i in item.footer_links
              if i.class == "in"
                if pjaxenable
                  a.footer-item(href=`${i.link}`, data-pjax-state)=i.text
                else 
                  a.footer-item(href=`${i.link}`)=i.text
              else if i.class == "out"
                a.footer-item(target='_blank', href=`${i.link}`)=i.text
              else 
                a.footer-item(href=`${i.link}`)=i.text
      if theme.footer_better.footer_group.footer_friend_links.enable
        .footer-group#friend-links-in-footer
          h3.footer-title
            | 友链
            button(title='换一批', href='javascript:;', onclick='liushen.randomLink()')
              i.fa-solid.fa-rotate-right
          .footer-links
            - for (var i = 0; i < theme.footer_better.footer_group.footer_friend_links.number; i++)
              a.footer-item(target='_blank', href='https://blog.liushen.fun')= '测试' + (i + 1)
            a.footer-item(href='/link/', data-pjax-state) 查看更多

  #footer-bottom
    .footer-bottom-content
      .footer-bottom-left
        if theme.footer_better.footer_bottom.copyright.enable 
          - var now = new Date()
          - var nowYear = now.getFullYear()
          - var since = theme.footer_better.footer_bottom.copyright.since
          - var link = theme.footer_better.footer_bottom.copyright.link
          - var author = theme.footer_better.footer_bottom.copyright.author
          if since && since != nowYear
            span.copyright!= `&copy;${since} - ${nowYear} By `
              a(target='_blank', rel='noopener', href=`${link}`, title=`点击访问"${author}"的主页`, style='margin-left:5px')=author
          else
            span.copyright!= `&copy;${nowYear} By `
              a(target='_blank', rel='noopener', href=`${link}`, title=`点击访问"${author}"的主页`, style='margin-left:5px')=author
        div
          if theme.footer_better.footer_bottom.left.length != 0
            each i in theme.footer_better.footer_bottom.left
              a.footer-bottom-link(target='_blank', href=`${i.link}`, rel='noopener external nofollow', title=`${i.desrc}`)=i.text
      .footer-bottom-right 
        if theme.footer_better.footer_bottom.runtime.enable 
          #runtime(title='本站运行时间') 本站已苟活：0 天 0 时 0 分 0 秒
        div 
          if theme.footer_better.footer_bottom.right.length != 0
            each i in theme.footer_better.footer_bottom.right
              a.footer-bottom-link(target='_blank', href=`${i.link}`, rel='noopener external nofollow', title=`${i.desrc}`)=i.text

include ./randomlink.pug