- const rightMenuConfig = theme.right_menu || {}
- const rightMenuEnable = rightMenuConfig.enable !== false
- const rightMenuItems = rightMenuConfig.items || []
if rightMenuEnable
  #rightMenu
    .rightMenu-group.rightMenu-small
        .rightMenu-item#menu-backward
            i.fa-solid.fa-arrow-left
        .rightMenu-item#menu-forward
            i.fa-solid.fa-arrow-right
        .rightMenu-item#menu-refresh
            i.fa-solid.fa-arrow-rotate-right
        .rightMenu-item#menu-home
            i.fa-solid.fa-house
    .rightMenu-group.rightMenu-line.hide#menu-text
        a.rightMenu-item#copy(href="javascript:rm.copySelect();")
            i.fa-solid.fa-copy
            span='复制选中文字'
        a.rightMenu-item#reply(href="javascript:rm.replySelect();")
            i.fa-regular.fa-comment
            span='评论选中段落'
    if rightMenuConfig.show_default_links !== false
      .rightMenu-group.rightMenu-line.rightMenuOther
        a.rightMenu-item.menu-link(href='/archives/')
            i.fa-solid.fa-archive
            span='文章时间线'
        a.rightMenu-item.menu-link(href='/categories/')
            i.fa-solid.fa-folder-open
            span='文章分大类'
        a.rightMenu-item.menu-link(href='/tags/')
            i.fa-solid.fa-tags
            span='文章小标签'
    .rightMenu-group.rightMenu-line.rightMenuNormal
        .rightMenu-item#menu-translate
            i.fa-solid.fa-earth-asia
            span='繁简模式切换'
        .rightMenu-item#menu-live2dvisibility
            i.fa-solid.fa-cat
            span='小猫显示隐藏'
        .rightMenu-item#menu-print
            i.fa-solid.fa-print.fa-fw
            span='打印整个页面'
        if rightMenuItems.length
            each item in rightMenuItems
                a.rightMenu-item.menu-link(id=item.id href=item.raw_link ? item.link : url_for(item.link))
                    if item.icon
                        i(class=item.icon)
                    span= item.title
  #rightmenu-mask
